/* 基础样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  background: linear-gradient(135deg, #0a122a 0%, #2e0249 100%);
  height: 100vh;
  width: 100vw;
  color: #fbfaf8;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: -99999;
}

#little_star {
  height: 20vh;
  width: 100vw;
}
